@{
    ViewBag.Title = "About Family Tree";
}
<h2>@ViewBag.Title!</h2>

<p>Family Tree is a way for families to start to keep track of their heritage!
   We want the future generations of your family to be able to look through their families history by using this application and it all starts with you!
   Sign up today to start using our database and build your own Family Tree!
     </p>
