@{
    ViewBag.Title = "About Somethin Or Other";
}
<h2>@ViewBag.Title!</h2>

<p>Somethin Or Other is a database that will store all of your families information for you. It will also allow you to view other families information</p>
