@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us!</h2>
<h3>Family Tree Inc.</h3>

<address>
    100 Oak Drive<br />
    Beaver Falls, PA 15010<br />
    <abbr title="Phone">P:</abbr>
    123.555.4678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@familytree.com">support@familytree.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@familytree.com">marketing@familytree.com</a>
</address>