@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us!</h2>
<h3>Somethin Or Other Inc.</h3>

<address>
    One Great Way<br />
    Beaver Falls, PA 15010<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@somethinorother.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@somethinorother.com">Marketing@example.com</a>
</address>