@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Family Tree!</h1>
    <p class="lead">Family Tree is a brand new way to keep track of your family and grow your family tree! </p>
    <p><a href="http://localhost:61034/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Families</h2>
        <p>
            Search our Database for Families!
        </p>
        <p><a class="btn btn-default" href="http://localhost:61034/Family/index">Search &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Individuals</h2>
        <p>Searh our Database for Individuals!</p>
        <p><a class="btn btn-default" href="http://localhost:61034/Individual/index">Search &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Create an account so you can start to build your famiy tree!</p>
        <p><a class="btn btn-default" href="http://localhost:61034/Account/Register">Create &raquo;</a></p>
    </div>
</div>